:root {
    --shadow-color: rgba(0, 0, 0, 0.5);
    --stars-color: rgb(171, 216, 181);
}

body {
    background-color: var(--black);
    background-image: var(--main-bg-pic);
    background-size: 2200px auto;
    background-repeat: no-repeat;
    background-position: center -15px;
    background-attachment: fixed;
}

body:after {
    animation: bg-sparkle 100s ease-in-out infinite;
    background: url('/sparkles.png') no-repeat;
    background-size: cover;
    opacity: .4;
    transform: skew(2deg, 0) scale(1, 1.15);
    content: "";
    display: block;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: -100px;
    z-index: -1;
}

@keyframes bg-sparkle {
    0% {
        transform: skew(1deg, 0) scale(.9, 1.015);
        opacity: 0.15;
    }

    20% {
        transform: skew(-20deg, 0) scale(1.1, 1.3);
        opacity: 0.24;
    }

    40% {
        transform: skew(0, -10deg) scale(1.15, 1.1);
        opacity: 0.05;
    }

    60% {
        transform: skew(-10deg, 0) scale(1.02, 1);
        opacity: 0.21;
    }

    80% {
        transform: skew(5deg, 10deg) scale(0.99, 1.2);
        opacity: 0.3;
    }

    100% {
        transform: skew(2deg, 0) scale(1, 1.15);
        opacity: 0.24;
    }
}