:root {
    --main-bg-pic: url('/bg_main.jpg');
    --foot-bg-pic: url('/bg_footer.png');
    --glow-gradient: linear-gradient(-75deg, rgba(0, 0, 0, 1) 20%, #000 50%, rgba(0, 0, 0, 1) 90%);
    --transparent-border: 1px solid rgba(255, 255, 255, .3);
    --border-radius: 10px;
    --gold: gold;
    --t-gold: rgba(255, 215, 0, 0.5);
    --block-box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.85);
    --block-box-shadow-light: 0 5px 5px 0 rgba(20, 20, 20, 0.4);
    --black: #000;
    --t-black: rgba(0, 0, 0, .8);
    --t-black-2: rgba(0, 0, 0, .4);
    --t-black-dark: rgba(0, 0, 0, .85);
    --t-white-light: rgba(255, 255, 255, .85);
    --t-white: rgba(255, 255, 255, .3);
    --t-white-2: rgba(255, 255, 255, .1);
    --t-brown: rgba(165, 42, 42, .9);
}

* {
    font-family: Roboto;
}

a:focus,
a:active,
a:visited {
    box-shadow: initial !important;
    background: initial;
}

a:hover,
button:hover {
    mask-image: linear-gradient(-75deg, var(--t-black) 20%, #000 50%, var(--t-black) 90%);
    mask-size: 200%;
    animation: shine 2s infinite ease-in-out;
    cursor: pointer !important;
}

#app {
    background: rgb(155 150 180 / 20%);
    background-blend-mode: soft-light;
    min-height: 100vh;
}

.text-pre-wrap {
    white-space: pre-wrap;
}

.btn {
    border-radius: var(--border-radius);
}

.no-hover:hover {
    cursor: default !important;
    opacity: 1 !important;
}

.space-top-100 {
    padding-top: 7.5rem;
}

.space-top-200 {
    padding-top: 20rem;
}

.text-wrap {
    word-wrap: pre-wrap !important;
}

button {
    color: var(--white) !important;
}

.no-gutters .card {
    margin-bottom: 0 !important;
}

.no-gutters {
    margin-bottom: 1rem;
}

html,
body {
    min-height: 100%;
    height: 100%;
}

.bg-t-black {
    background-color: var(--t-black);
}

.loading.bg-t-black {
    padding: 2rem;
    border: 2px solid var(--t-white-2);
}

nav.bg-t-brown {
    background-color: var(--t-brown);
    border: 2px solid var(--t-white-2);
}

.pagination {
    background-color: var(--t-brown);
    border: 2px solid var(--t-black-2);
}

.slider-content {
    text-shadow: var(--block-box-shadow-light);
}

.pagination a,
nav.bg-t-brown a {
    font-size: 0.8em;
    font-weight: 500;
    color: var(--gold) !important;
    border-radius: 0 !important;
    text-shadow: var(--block-box-shadow) !important;
    box-shadow: none;
}

.pagination a {
    font-size: 0.8em !important;
    border: none;
    background-color: var(--t-black-2) !important;
}

.pagination a:hover,
.pagination a:focus,
.pagination li.active a,
nav.bg-t-brown a:hover,
nav.bg-t-brown a:focus,
nav.bg-t-brown a.active {
    text-shadow: 0 -4px 15px #000 !important;
    background-color: var(--t-black-2) !important;
    box-shadow: inset var(--block-box-shadow);
}

.bg-t-black .card-title {
    font-weight: 600;
    text-shadow: 2px 2px 0 var(--t-black);
    font-size: 1em;
    color: darkcyan;
}

.bg-t-black .card-body {
    box-shadow: inset 0 0 15px var(--t-black);
    background: rgba(255, 255, 255, .06);
}

.top-logo {
    margin-top: 6rem;
    max-width: 640px;
    width: 100%;
    padding: 1rem 5rem;
}

.welcome {
    text-shadow: 1px 1px 0 var(--t-white);
    margin-right: -10px;
}

.form-check {
    text-align: center;
}

.form-check-input {
    margin-top: .2rem;
}

.scroll-down {
    color: var(--yellow);
    font-size: 2rem;
    text-shadow: inset 0 0 3px var(--black);
}

/* .scroll-top-wrap,
.consent-wrap {
    position: fixed;
    bottom: 0;
} */

.scroll-to-top {
    color: var(--yellow);
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 2rem;
    text-shadow: inset 0 0 3px var(--black);
    z-index: 10000;
}

.scroll-down:hover,
.scroll-to-top:hover {
    cursor: pointer;
    color: var(--yellow);
    opacity: 0.8;
}

.page-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-wrapper,
.form-wrapper>.card-body {
    max-width: 520px;
    width: 100%;
}

.play-now {
    color: var(--t-white-light);
    background-color: brown;
    background-image: radial-gradient(ellipse at bottom, brown 15%, #06151f 100%);
    box-shadow: inset 0 0 35px var(--black);
    text-shadow: 3px 3px 4px var(--t-black);
    border: 1px solid var(--t-white);
    font-weight: 700;
    font-size: 1.8rem;
    margin-bottom: 1rem;
    padding-top: 2.6rem;
    padding-bottom: 2.6rem;
    letter-spacing: 0.1rem;
    line-height: 44px;
    transition: all .5s ease-in-out;
}

.play-now.purple {
    background-color: #008b8b;
    background-image: radial-gradient(ellipse at bottom, #008b8b 15%, #06151f 100%);
}

.play-now:focus,
.play-now:active,
.play-now:hover {
    color: var(--t-white-light);
    border: 1px solid var(--t-white-light);
    box-shadow: inset 0 0 25px var(--black);
}

.vote-wrap:not(:last-child) {
    margin-bottom: 0.25rem;
}

.video-wrapper {
    width: 100%;
    height: auto;
    width: 100%;
}

.carousel {
    background-color: var(--black);
}

.carousel h3,
.carousel p {
    text-shadow: 1px 1px 10px #000;
}

.card,
.carousel,
.embed-responsive {
    border-radius: var(--border-radius);
    border: var(--transparent-border);
    box-shadow: var(--block-box-shadow);
    margin-bottom: 1rem;
    overflow: hidden;
}

.embed-responsive::before {
    display: block;
    position: relative;
    z-index: 9990;
    content: "";
    width: 100%;
    box-shadow: inset 0 0 45px var(--t-black);
    height: 100%;
}

.embed-responsive .embed-responsive-item,
.embed-responsive embed,
.embed-responsive iframe,
.embed-responsive object,
.embed-responsive video {
    top: 0;
    bottom: 0;
    left: 0;
    border: 0;
    transform: scale(1.2);
    overflow: hidden;
}

.snapshot {
    position: fixed;
    z-index: 998;
    bottom: 50px;
    left: 50px;
    color: #fff;
}

.page-wrapper .footer {
    margin-top: 4rem;
}

.page-wrapper .footer .row {
    margin-bottom: 20px;
}

.game-events .card-body {
    padding-top: 0.5rem;
}

.game-events .card-body>div:not(:first-child) {
    padding-top: 0.5rem;
}

.game-events .card-body>div:not(:last-child) {
    padding-bottom: 0.5rem;
    border-bottom: 1px solid var(--t-white-2);
}

.alt-download .card-header,
.c-downloads .card-header {
    font-weight: bold;
}

.c-downloads .card-header,
.c-downloads .card-body {
    text-align: center;
}

.c-downloads img {
    height: 30px;
    margin-right: 0.5rem;
}

.alt-download .list-group-item {
    background: none !important;
}

.c-downloads .card-body,
.sys-requirements .card-body {
    padding-top: 0;
}

.sys-requirements .row>div:first-child {
    text-align: right;
}

.sys-requirements .row>div {
    padding: 5px;
}

footer {
    padding: 20px 0;
}

footer .container {
    border-radius: 0 0 10px 10px;
    padding: 20px;
    background-size: cover;
}

footer .copy {
    color: var(--white);
}

footer .forums {
    width: auto;
    height: 40px;
}

footer a {
    color: var(--yellow);
    padding: 5px;
}

.table td,
.table th {
    border-top: 1px solid var(--t-white-2)
}

.th.sortable {
    transition: color .5s ease-in-out;
}
.th.sortable:hover {
    color:rgba(205, 127, 50, .95);
}

.table .react-bootstrap-table-sort-order:after {
    content: '\2191';
}

.table .react-bootstrap-table-sort-order.dropup:after {
    content: '\2193';
}



.col-filter {
    max-width: 45px;
    padding: 0;
    max-height: 25px;
    margin: 0;
    margin-left: 5px;
    margin-bottom: -15px;
}

footer.page-wrapper {
    padding-top: 20px;
}

.ranking-wrapper {
    padding: 0 10px;
}

.ranking-wrapper table {
    margin-bottom: 0;
}

.react-bootstrap-table table {
    border: 2px solid var(--t-white-2);
}

.ranking-card-head {
    padding: 0 0.6rem;
}

.ranking-wrapper th {
    background: #000;
    color: #fff;
    font-weight: 500;
    font-size: 0.8em;
    border-bottom: 1px solid var(--t-white-2) !important;
}

.ranking-wrapper td {
    color: var(--t-brown);
    background-color: var(--white);
}

.ranking-wrapper tr:hover>td {
    opacity: 0.7;
    cursor: pointer;
}


.ranking-wrapper .bg-gold td {
    background-color: rgba(255, 215, 0, .95) !important;
}

.ranking-wrapper .bg-silver td {
    background-color: rgba(192, 192, 192, .95) !important;
}

.ranking-wrapper .bg-bronze td {
    background-color: rgba(205, 127, 50, .95) !important;
}

.search-player {
    padding: 0.6rem 0;
}

.countdown {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.card-header.text-danger {
    font-size: 0.9em;
}

@keyframes shine {
    from {
        -webkit-mask-position: 150%;
    }

    to {
        -webkit-mask-position: -50%;
    }
}

@media (max-width: 1280px) {
    body {
        background-size: auto 100%;
    }
}