.nav-wrapper {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
}

.nav-wrapper .navbar {
    padding: 0;
}

.nav-wrapper .infobar {
    background: var(--black);
    box-shadow: 0 0 25px var(--gray-dark);
    -webkit-app-region: drag;
}

.nav-wrapper .main {
    padding: 5px 0;
    background: rgba(0, 0, 0, .45);
    background-size: 100% 100%;
    filter: drop-shadow(0 10px 10px var(--t-black));
    text-transform: uppercase;
    box-shadow: inset 0 -18px 35px rgb(0 0 0 / 30%);
    border-bottom: var(--transparent-border);
}

.nav-wrapper .main .navbar-nav {
    text-align: center;
}

.navbar-toggler {
    color: var(--white);
    font-size: 1.8rem;
}

.navbar-brand {
    font-size: 2.4rem;
    line-height: 0;
}

.navbar-brand img {
    width: 46px;
    height: 46px;
}

.nav-wrapper a {
    color: var(--t-white-light);
    text-shadow: 1px 1px 2px var(--gray-dark);
    font-weight: 500;
    padding: .2rem .5rem;
}

.nav-wrapper .dropleft .dropdown-toggle {
    padding: .2rem 0.5rem;
}

.nav-wrapper .dropdown-toggle::after {
    display: none;
}


span.easy {
    color: green;
}

span.populated {
    color: goldenrod;
}

span.busy {
    color: darkorange;
}

span.crowded {
    color: brown;
}

.infobar .badge-secondary,
.infobar .justify-content-end.nav > * {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.2rem;
    font-size: .8em;
    border-radius: 15px;
    text-shadow: 0 1px 0 #000;
    text-decoration: none;
    background: rgba(255, 255, 255, .1);
}

.infobar .justify-content-end.nav i {
    display: inline-flex;
    width: 16px;
    align-items: center;
    height: 16px;
    position: relative;
    justify-content: center;
    top: 2px;
}

.infobar .justify-content-end.nav i.flag-icon {
    border-radius: 1rem;
    width: 14px;
    top: 0;
}

.infobar .badge-secondary {
    padding: 0.5rem 0.7rem 0.4rem;
}

.infobar .justify-content-end.nav .dropdown-toggle {
    font-size: 1em;
}

.infobar .badge {
    margin-left: 5px;
    box-shadow: inset 0 0 5px var(--gray-dark);
    font-weight: 400;
}

.infobar .dropdown-menu {
    padding: 0;
}

.infobar .dropdown-menu a {
    padding: .25rem 0.5rem;
}

.infobar .dropdown-menu a:hover,
.infobar .dropdown-menu a:active,
.infobar .dropdown-menu a:visited {
    color: var(--yellow);
    background: none;
}

.auth-links a {
    font-weight: 500;
    color: var(--white);
    text-transform: uppercase;
}

.auth-links a.btn-primary {
    background-color: var(--red);
    border: none;
    box-shadow: inset 0 0 15px var(--t-black);
}

.auth-links i {
    padding-left: 10px;
    font-size: 1.2rem;
    position: relative;
    top: 1px;
}

.auth-links a.btn:hover {
    transition: all 0.5s ease-in-out;
    color: var(--t-white-light);
    text-shadow: 0 0 10px var(--t-black-dark);
}


@media (max-width: 991px){
    .navbar-collapse {
        margin-top: -40px;
        padding-bottom: 40px;
        margin-left: 40px;
        margin-right: 40px;
    }
}

@media (min-width: 992px) {
    .navbar-collapse .navbar-nav a:not(:first-child):before {
        content: "/";
        font-size: 0.6em;
        position: relative;
        top: -2px;
        color: rgba(255, 255, 255, 0.3);
        margin-right: 15px;
    }

    /* .auth-links a:first-child::after {
        content: '/';
        padding-left: 1rem;
        opacity: 0.3;
        color: var(--t-white-light);
    } */

    .auth-links a:hover::before {
        color: var(--t-white-light);
        opacity: 1;
    }
}