::-webkit-scrollbar {
    width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 25px var(--black);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background-color: var(--red);
    border-radius: 5px;
    transition: all 0.5s ease-in-out;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background-color: var(--t-black-dark);
}